<div ng-init="getPitch()">	
	<div ng-if="user.loggedIn == true">
		<div ng-if="user.nominee == true">
			<!-- Ask for description -->
			<h1>Hey {{user.displayName}}! </h1>
			<br/>
			<br/>
			<center><p>Please fill in your pitch</p>
			<textarea ng-model="pitch" rows="10" placeholder="Your Pitch"></textarea>
			<br/>
			<br/>
			<button ng-click="addPitch(pitch)">Add Pitch</button>
			</center>
		</div>
		<div ng-if="user.nominee == false">
			<center><p>You Shall Not Pass!</p></center>
		</div>
	</div>
</div>


<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>