<div ng-if="user.loggedIn == true">

	<p><span class="image left"><img src="{{user.picture.location}}" alt="" id="profile_pic_candidate" /></span><h1>{{user.displayName}}</h1>Just vote for me and no one else. Cause I am the master, I am the slave. And if you don't vote for me by the end of May, you can run to your mama and I'll poop in a cave.</p><hr />

	<p><span class="image right"><img src="{{user.picture.location}}" alt="" id="profile_pic_candidate" /></span><h1>{{user.displayName}}</h1>Just vote for me and no one else. Cause I am the master, I am the slave. And if you don't vote for me by the end of May, you can run to your mama and I'll poop in a cave.</p><hr />
</div>


<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>