<div ng-if="user.loggedIn == true">
	<section class="tiles">
		<article class="style1">
			<span class="image">
				<img src="images/pic01.jpg" alt="" />
			</span>
			<a href="generic.html">
				<h2>NAME</h2>
				<div class="content">
					<p>Yo! Vote for me BITCH!</p>
				</div>
			</a>
		</article>
	</section>
</div>


<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>