<div ng-if="user.loggedIn == true" ng-init="getNominees()">
	<div ng-if="user.admin == true">
		<div ng-controller="TabCtrl"><div class="container">

	<ul class="tabs">
		<li class="tab current" data-tab="tab-1"><h2 id="tab_name">Nominate</h2></li>
		<li class="tab" data-tab="tab-2"><h2 id="tab_name">Toggle Mode</h2></li>
		<li class="tab" data-tab="tab-3"><h2 id="tab_name">Mass Message</h2></li>
	</ul>

	<div id="tab-1" class="tab-content current">
<!--     	<header>
					<center><h1>Nominate A Candidate</h1></center>
				</header> -->
					<!-- <hr> -->
				<br />
				<form>
					<table>
						<tr>
							<td style="text-align: left">
								<input type="text" ng-model="uid" placeholder="Facebook User ID"/>
							</td>
							<td style="text-align: right">
								<button class="button special" ng-click="newNominee(uid)">Add Nominee</button>
							</td>	
						</tr>
					</table>
				</form>
				<center>
					<div>
						<div>
							<table style="border-collapse: separate;" ng-repeat="(key,value) in nominees">
								<tr>
									<td style="text-align: left">
										<span>{{key}}</span>
									</td>
									<td style="text-align: right">
										<button class="button special" ng-click="removeNominee(key)">Remove</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</center>
	</div>
    
	<div id="tab-2" class="tab-content">
    	<div ng-init="getVoteTypeCount()">
<!-- 				<header>
					<center><h1>Settings</h1></center>
				</header> -->
					<!-- <hr> -->
				<br />
				<center>
				<div class="6u 12u$(small)">
					<h2> VOTE MODE: {{votrType}}</h2>
				</div>
				<br />
				<div class="6u$ 12u$(small)">
				<input type="password" ng-model="masterPassword" placeholder="Enter Master Password to toggle VOTR mode..." style="text-align: center;" />
				<br/>
				<button class="button special small" ng-disabled="masterPassword == ''" ng-click="votrModeChange(masterPassword)">Change VOTR Type</button>
				</div>
				</center>
			</div>
	</div>
    
	<div id="tab-3" class="tab-content">
    	<center><div>
<!-- 				<header>
					<center><h1>Mass Message</h1></center>
				</header> -->
				<textarea ng-model="message" rows="10" placeholder="Mass Message"></textarea>
				<br/>
				<br/>
				<button ng-click="addMassMessage(message)">Add Mass Message</button>
			</div></center>
	</div>
</div>
</div>
	</div>
	
	<div ng-if="user.admin == false">
		<center><p>You Shall Not Pass!</p></center>
	</div>
</div>

<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>
