<div ng-if="user.loggedIn == true" ng-init="getNominees()">
	<div class="box alt" ng-if="user.admin == true">
		<div class="row uniform">
			<div class="8u">
				<header>
					<center><h1>Nominate A Candidate</h1></center>
				</header>
					<!-- <hr> -->
				<br />
				<form>
					<table>
						<tr>
							<td style="text-align: left">
								<input type="text" ng-model="uid" placeholder="Facebook User ID"/>
							</td>
							<td style="text-align: right">
								<button class="button special" ng-click="newNominee(uid)">Add Nominee</button>
							</td>	
						</tr>
					</table>
				</form>
				<center>
					<div>
						<div>
							<table style="border-collapse: separate;" ng-repeat="(key,value) in nominees">
								<tr>
									<td style="text-align: left">
										<span>{{key}}</span>
									</td>
									<td style="text-align: right">
										<button class="button special" ng-click="removeNominee(key)">Remove</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</center>
			</div>
			<div class="4u" ng-init="getVoteTypeCount()">
				<header>
					<center><h1>Settings</h1></center>
				</header>
					<!-- <hr> -->
				<br />
				<center>
				<div class="6u 12u$(small)">
					<h3> VOTE MODE: {{votrType}}</h3>
				</div>
				<br />
				<div class="6u$ 12u$(small)">
				<input type="password" ng-model="masterPassword" placeholder="Enter Master Password"/>
				<br/>
				<button class="button special small" ng-disabled="masterPassword == ''" ng-click="votrModeChange(masterPassword)">Change VOTR Type</button>
				</div>
				</center>
			</div>
		</div>
		<div class="row uniform">
			<div class="8u">
				<br/>
				<header>
					<center><h1>Mass Message</h1></center>
				</header>
				<textarea ng-model="message" rows="10" placeholder="Mass Message"></textarea>
				<br/>
				<br/>
				<button ng-click="addMassMessage(message)">Add Mass Message</button>
			</div>
		</div>
	</div>
	<div ng-if="user.admin == false">
		<center><p>You Shall Not Pass!</p></center>
	</div>
</div>

<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>