<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>

<div ng-if="user.loggedIn == true">
	<center><section>
		<img src="{{user.picture.location}}" id="profile_pic">
		<h1 ng-if="!voteMessage"><b>{{user.displayName}}</b></h1>
		<div ng-if="voteMessage">
			<h1><b>{{user.displayName}}</b></h1>
			<h3 ng-if="voteMessage != 'Something went wrong'"><b style="color: #23CF5F">{{voteMessage}}</b></h3>
			<h3 ng-if="voteMessage == 'Something went wrong'"><b style="color: #F23F3B">{{voteMessage}}</b></h3>
		</div>
		<br/>
		<br/>
		<br/>
		<h3>Note: {{massMessage}}</h3>
		<!-- <h2>{{user.displayName}}</h2> -->
	</section></center>
</div>