<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>

<div ng-if="user.loggedIn == true">
	<center><p style="color: #23CF5F">{{voteMessage}}</p></center>
	<center><section>
		<img src="{{user.picture.location}}" id="profile_pic">
		<h1><b>{{user.displayName}}</b></h1>
		<!-- <h2>{{user.displayName}}</h2> -->
	</section></center>
</div>