<div ng-if="votrType == 'prevote'">
	<div ng-if="user.loggedIn == true" ng-init="getCandidates()">
		<div ng-if="user.isValidACMMember == true">
		<header>
			<center><h1>Nominate A Candidate</h1></center>
			<br/>
			<br/>
			<center><p>The <strong>"Current Nominees"</strong> list has names of the candidates already nominated by others. <strong>If you don't find your candidate's name in the list, add him/her in the field below that. =)</strong></p></center>.
		</header>
			<!-- <hr> -->
		<br />
		<table>
			<tr>
				<td style="text-align: left">
					<div class="select-wrapper">
						<select ng-model="candidateName">
							<option value="" disabled selected>Current Nominees (Click Here)</option>
							<option ng-repeat="candidate in candidates">{{candidate}}</option>
						</select>
					</div>
				</td>
				<td style="text-align: right">
					<button class="button special" ng-click="voteCandidate(candidateName)">Nominate</button>
				</td>
			</tr>
		</table>
		</div>
		<br />
		
		<div ng-if="user.isValidACMMember == true">
			<center>
			<hr/>
			<p>Don't see your Nominee above? <strong>Add him/her below! =)</strong>
				<div>
					<table style="border-collapse: separate;">
						<tr>
							<td style="text-align: left">
								<input type="text" ng-model="candidateName" placeholder="Enter Candidate's Name" />
							</td>
							<td style="text-align: right">
								<button class="button special" ng-click="addCandidate(candidateName)">Add Candidate</button>
							</td>	
						</tr>
					</table>
				</div>
			</center>
		</div>
		
		<div ng-if="user.isValidACMMember == false">
			<center><p>Only <strong>members</strong> of PESITSouth ACM Student Chapter's <a href="https://www.facebook.com/groups/pesseacm/">Facebook Group </a>are allowed to vote. <br/><br/>Please ask to <a href="https://www.facebook.com/groups/pesseacm/">join</a> the group before voting</p></center>
		</div>
	</div>
</div>
<div ng-if="votrType == 'vote'">
	<center><p>You Shall Not Pass!</p></center>
</div>

<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>
