#profile_pic {
	border-radius: 50%;
	width: 300px;
	position: relative;
	z-index: 15;
}

#profile_pic_mini {
	border-radius:50%;
	width: 80px;
	margin-left: 4px;
	z-index: 1555;
}

#profile_pic_candidate {
	border-radius:50%;
	width: 150px;
	/*margin-top: -57px;
	margin-right: 8px;*/
}

.button#vote_submit {
	display: inline-block;
	float: none;
}

.logo > .title {
	display: block;
	/*border-top: 1px solid black;*/
	/*border-bottom: 1px solid black;*/
	margin-top: -1.0em;
	background-color: white;
}


.coverPhotoContainer {
	height: 200px;
	overflow: hidden;
	border-radius: 45px;
	/*text-align: left;*/
}

#profile_pic2 {
	position: relative;
	margin-top: -250px;
	margin-left: -50px;
	z-index: 200;
	border-radius: 50%;
	width: 300px;
}

#tab_name {
	letter-spacing: 0em; 
	line-height: 2; 
	margin-bottom: 0;
}