/* CSS Document */
/*
body {
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.3;
	background: #bdc3c7;
	}

h1 {
	font-size: 50px;
	text-align: center;
}	*/

.container{
	/*width: 700px;*/
	margin: 0 auto;
}

.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	background:#F6F6F6;
	border-bottom: 5px #585858 solid;
	/*color: black;*/
}

.tabs li{
	display: inline-block;
	margin:0;
	padding: 10px 20px 5px 20px;
	cursor: pointer;
		
	font-size:1.2em;
	line-height:2em;
	color:#000;
}

.tabs li:hover {
	background: #f2849e;
	}

.tabs li.current{
	background: #585858;
	color: #FFF;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
			
	line-height:1.4;
}

.tab-content.current{
	display: inherit;
}