<nav class="pages-nav" ng-if="user.loggedIn == true">
	<div class="pages-nav__item"><a class="link link--page" href="#/">Home</a></div>
	<div class="pages-nav__item"><a class="link link--page" href="#/vote">Vote</a></div>
	<div class="pages-nav__item"><a class="link link--page" href="#/candidates">Candidates</a></div>
	<div ng-if="user.admin == true" class="pages-nav__item"><a class="link link--page" href="#/nominate">Nominate</a></div>

	<div class="pages-nav__item"><a class="link" href="/logout">Logout</a></div>
</nav>

<div class=page id="page-nominate">
	<header class="bp-header cf" ng-if="user.loggedIn == true">
		<h1 class="bp-header__title">Nominate A Candidate</h1>
		<hr>
		<form method="POST" action="/nominate">
			<input type="text" name="uid" placeholder="Facebook User ID"/>
			<input type="submit" value="Nominate"/>
		</form>
	</header>
	<div ng-if="user.loggedIn == false">
		<h1 class="bp-header__title">VOTR</h1>
		<hr>
		<span class="bp-header__present">open<br />voting<br/> platform</span>
		<br/>
		<br/>
		<br/>
		<br/>
	<!-- <center><p class="info">PESITSouth ACM Student Chapter General Elections 2016</p></center> -->
		<p><center>Welcome! Please <a href="/login">log in</a>.</center></p>
	</div>
</div>

<button ng-if="user.loggedIn == true" class="menu-button"><span>Menu</span></button>