<div ng-if="user.loggedIn == true" ng-init="getCandidates()">
	<header>
		<center><h1>Nominate A Candidate</h1></center>
	</header>
		<!-- <hr> -->
	<br />
	<table>
		<tr>
			<td style="text-align: left">
				<select ng-model="candidateName">
					<option value="" disabled selected>Current Nominees (Click Here)</option>
					<option ng-repeat="(key,value) in candidates">{{key}}</option>
				</select>
			</td>
			<td style="text-align: right">
				<button class="button special" ng-click="voteCandidate(candidateName)">Nominate</button>
			</td>
		</tr>
	</table>
	</div>
<div ng-if="user.loggedIn == true">
	<center>
		<div>
			<div>
				<table style="border-collapse: separate;">
					<tr>
						<td style="text-align: left">
							<input type="text" ng-model="candidateName" placeholder="Enter Candidate's Name" />
						</td>
						<td style="text-align: right">
							<button class="button special" ng-click="addCandidate(candidateName)">Add Candidate</button>
						</td>	
					</tr>
				</table>

				
			</div>
		</div>
	</center>
</div>

<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>