<nav class="pages-nav" ng-if="user.loggedIn == true">
	<div class="pages-nav__item"><a class="link link--page" href="#/">Home</a></div>
	<div class="pages-nav__item"><a class="link link--page" href="#/vote">Vote</a></div>
	<div class="pages-nav__item"><a class="link link--page" href="#/candidates">Candidates</a></div>
	<div ng-if="user.admin == true" class="pages-nav__item"><a class="link link--page" href="#/nominate">Nominate</a></div>
	<div ng-if="user.admin == true" class="pages-nav__item"><a class="link link--page" href="#/result">Result</a></div>

	<div class="pages-nav__item"><a class="link" href="/logout">Logout</a></div>
</nav>

<div ng-if="user.loggedIn == true">
	<div ng-init="getNominees()">
		<h1>Vote</h1>
		<pre>
			{{nominees}}
		</pre>
		<pre>
			{{vote}}
		</pre>
		<select ng-model="vote.chair" placeholder="Select Chairperson">
			<option ng-repeat="(key, value) in nominees"><img src={{value.picUrl}}/>{{key}}</option>
		</select>
		<select ng-model="vote.vice_chair" placeholder="Select Vice-Chairperson">
			<option ng-repeat="(key, value) in nominees">{{key}}</option>
		</select>
		<select ng-model="vote.treasurer" placeholder="Select Treasurer">
			<option ng-repeat="(key, value) in nominees">{{key}}</option>
		</select>
		<select ng-model="vote.secretary" placeholder="Select Secretary">
			<option ng-repeat="(key, value) in nominees">{{key}}</option>
		</select>
		<button ng-click="castVote(vote)">Vote</button>
	</div>
</div>

<div ng-if="user.loggedIn == false">
	<span>Hello. Please <button ng-click="logUserIn()"> Log In </button> </span>
</div>