<div ng-if="user.loggedIn == true" ng-init="getNominees()">
	<header>
		<center><h1>Cast My Vote!</h1></center>
	</header>
	<!-- <pre>
		{{nominees}}
	</pre>
	<pre>
		{{vote}}
	</pre> -->
	<table style="border-collapse: separate;">
		<tr>
			<td>
				<select ng-model="vote.chair" placeholder="Select Chairperson">
					<option value="" disabled selected>CHAIRMAN</option>
					<option ng-repeat="(key, value) in nominees"><img src={{value.picUrl}}/>{{key}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<select ng-model="vote.vice_chair" placeholder="Select Vice-Chairperson">
					<option value="" disabled selected>VICE-CHAIRMAN</option>
					<option ng-repeat="(key, value) in nominees">{{key}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<select ng-model="vote.treasurer" placeholder="Select Treasurer">
					<option value="" disabled selected>SECRETARY</option>
					<option ng-repeat="(key, value) in nominees">{{key}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<select ng-model="vote.secretary" placeholder="Select Secretary">
					<option value="" disabled selected>TREASURER</option>
					<option ng-repeat="(key, value) in nominees">{{key}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="text-align: center ">
				<button ng-click="castVote(vote)">Vote</button>
			</td>
		</tr>
	</table>
</div>

<div ng-if="user.loggedIn == false">
	<header>
		<center><h1><a href="/login">sign in here</a>.</h1></center>
		
		<!-- <hr> -->
	</header>
		<center><p>signing in allows you to participate in the PESIT South ACM Student Chapter General Elections 2016</p></center>
</div>