<ul ng-if="user.loggedIn == true">
	<li>
		<a href="#/">Home</a>
	</li>
	<li>
		<a href="#/vote">Vote</a>
	</li>
	<li ng-if="user.admin == true">
		<a href="#/nominate">Nominate</a>
	</li>
	<li>
		<a href="#/candidates">Candidates</a>
	</li>
</ul>


<div ng-if="user.loggedIn == true">
	<div ng-init="getNominees()">
		<h1>Vote</h1>
		<pre>
			{{nominees}}
		</pre>
		<pre>
			{{vote}}
		</pre>
		<select ng-model="vote.chair" placeholder="Select Chairperson">
			<option ng-repeat="(key, value) in nominees"><img src={{value.picUrl}}/>{{key}}</option>
		</select>
		<select ng-model="vote.vice_chair" placeholder="Select Vice-Chairperson">
			<option ng-repeat="(key, value) in nominees">{{key}}</option>
		</select>
		<select ng-model="vote.treasurer" placeholder="Select Treasurer">
			<option ng-repeat="(key, value) in nominees">{{key}}</option>
		</select>
		<select ng-model="vote.secretary" placeholder="Select Secretary">
			<option ng-repeat="(key, value) in nominees">{{key}}</option>
		</select>
		<button ng-click="castVote(vote)">Vote</button>
	</div>
</div>

<div ng-if="user.loggedIn == false">
	<span>Hello. Please <button ng-click="logUserIn()"> Log In </button> </span>
</div>